parameters:
    level: 6
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
    scanDirectories:
        - phar://PharBuilder/PocketMine-MP.phar