parameters:
    level: 6
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
    bootstrapFiles:
        - phar://PharBuilder/PocketMine-MP.phar/vendor/autoload.php
    scanDirectories:
        - phar://PharBuilder/PocketMine-MP.phar